.chrome-tabs-shell {
  position: relative;
  background-color: #141414;
  background-image: -webkit-linear-gradient(#141414, #0f0f0f);
  background-image: -moz-linear-gradient(#141414, #0f0f0f);
  padding: 4px 10px 6px 10px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height: 24px;
  overflow: hidden; }
  .chrome-tabs-shell .chrome-shell-bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 5px;
    left: 0px;
    width: 100%;
    /*border-top: 1px solid rgba(0, 0, 0, 0.21);*/
    /*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);*/
    background-color: #1d1d1d;
    /*background-image: -webkit-linear-gradient(#1d1d1d, #e0e0e0);*/
    /*background-image: -moz-linear-gradient(#1d1d1d, #e0e0e0);*/
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.16);*/
    z-index: 20; }

.chrome-tabs {
  *zoom: 1;
  width: 99999px; }
  .chrome-tabs:after {
    content: "";
    display: table;
    clear: both; }
  .chrome-tabs * {
    -webkit-user-select: none;
    cursor: default;
    font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px; }
  .chrome-tabs .chrome-tab {
    float: left;
    position: relative;
    height: 25px;
    width: 180px;
    border: 0px;
    margin: 0px;
    z-index: 1;
    background-color: #111;
    -webkit-box-shadow: inset 0 1px rgba(87, 79, 79, 0.6), 0 -1px rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px rgba(87, 79, 79, 0.6), 0 -1px rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(87, 79, 79, 0.6), 0 -1px rgba(0, 0, 0, 0.2), -1px 0 rgba(0, 0, 0, 0.2), 1px 0 rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111), color-stop(100%, #050505));
    background-image: -webkit-linear-gradient(top, #111, #050505);
    background-image: -moz-linear-gradient(top, #111, #050505);
    background-image: -o-linear-gradient(top, #111, #050505);
    background-image: linear-gradient(top, #111, #050505); }
    .cssmasks .chrome-tabs .chrome-tab {
      /*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 -1px rgba(0, 0, 0, 0.2);*/
      /*-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 -1px rgba(0, 0, 0, 0.2);*/
      /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 -1px rgba(0, 0, 0, 0.2);*/
      margin: 0 5px 0 20px; }
    .chrome-tabs .chrome-tab .chrome-tab-curves {
      display: none; }
      .cssmasks .chrome-tabs .chrome-tab .chrome-tab-curves {
        display: block; }
      .chrome-tabs .chrome-tab .chrome-tab-curves * {
        position: absolute;
        width: 20px;
        height: 24px;
        -webkit-mask-size: 100%; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow1, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow2 {
        -webkit-mask-image: url("../images/tab-svg/tab-left.svg"); }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow1, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow2 {
        -webkit-mask-image: url("../images/tab-svg/tab-right.svg"); }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right {
        top: 1px;
        z-index: 1;
        background-color: #e0e0e0;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #111), color-stop(100%, #050505));
        background-image: -webkit-linear-gradient(top, #111, #050505);
        background-image: -moz-linear-gradient(top, #111, #050505);
        background-image: -o-linear-gradient(top, #111, #050505);
        background-image: linear-gradient(top, #111, #050505); }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left {
        left: -20px; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right {
        right: -20px; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow1, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow1 {
        top: 0px;
        width: 21px;
        height: 25px;
        background-color: #494949; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow1 {
        left: -21px; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow1 {
        right: -21px; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow2, .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow2 {
        top: -1px;
        width: 22px;
        height: 26px;
        background: rgba(0, 0, 0, 0.24); }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-left-shadow2 {
        left: -22px; }
      .chrome-tabs .chrome-tab .chrome-tab-curves .chrome-tab-curve-right-shadow2 {
        right: -22px; }
    .chrome-tabs .chrome-tab.chrome-tab-current {
      z-index: 999;
      background-color: #1f1f1f;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f1f1f), color-stop(100%, #1d1d1d));
      background-image: -webkit-linear-gradient(top, #1f1f1f, #1d1d1d);
      background-image: -moz-linear-gradient(top, #1f1f1f, #1d1d1d);
      background-image: -o-linear-gradient(top, #1f1f1f, #1d1d1d);
      background-image: linear-gradient(top, #1f1f1f, #1d1d1d); }
      .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-left, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-right {
        background-color: #1f1f1f;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f1f1f), color-stop(100%, #1d1d1d));
        background-image: -webkit-linear-gradient(top, #1f1f1f, #1d1d1d);
        background-image: -moz-linear-gradient(top, #1f1f1f, #1d1d1d);
        background-image: -o-linear-gradient(top, #1f1f1f, #1d1d1d);
        background-image: linear-gradient(top, #1f1f1f, #1d1d1d); }
      .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-left-shadow1, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-right-shadow1, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-left-shadow2, .chrome-tabs .chrome-tab.chrome-tab-current .chrome-tab-curves .chrome-tab-curve-right-shadow2 {
        height: 25px; }
    .chrome-tabs .chrome-tab .chrome-tab-favicon {
      height: 16px;
      width: 16px;
      background-size: 16px;
      position: absolute;
      left: 9px;
      top: 5px;
      z-index: 3; }
      .cssmasks .chrome-tabs .chrome-tab .chrome-tab-favicon {
        left: -2px;
        top: 4px; }
    .chrome-tabs .chrome-tab .chrome-tab-title {
      color: #c4c4c4;
      padding: 5px 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .cssmasks .chrome-tabs .chrome-tab .chrome-tab-title {
        padding: 5px 5px 5px 19px; }
    .chrome-tabs .chrome-tab .chrome-tab-close {
      position: absolute;
      top: 6px;
      right: 7px;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      z-index: 2; }
      .cssmasks .chrome-tabs .chrome-tab .chrome-tab-close {
        right: -6px;
        top: 5px; }
      .chrome-tabs .chrome-tab .chrome-tab-close:before {
        content: "\00D7";
        position: absolute;
        top: 0px;
        right: 0px;
        height: 14px;
        width: 14px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        font-size: 11px;
        line-height: 12px;
        color: #888888;
        text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
      .chrome-tabs .chrome-tab .chrome-tab-close:hover:before, .chrome-tabs .chrome-tab .chrome-tab-close:active:before {
        -webkit-font-smoothing: antialiased;
        color: white;
        text-shadow: 0 1px #b9554c; }
      .chrome-tabs .chrome-tab .chrome-tab-close:hover, .chrome-tabs .chrome-tab .chrome-tab-close:active {
        -webkit-box-shadow: inset 0 0 0 1px #b9554c;
        -moz-box-shadow: inset 0 0 0 1px #b9554c;
        box-shadow: inset 0 0 0 1px #b9554c;
        background: #dd837b; }
      .chrome-tabs .chrome-tab .chrome-tab-close:active:before {
        -webkit-box-shadow: inset 0 0 0 1px #b9554c, inset 0 1px 3px #b9554c, inset 0 0 20px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 0 1px #b9554c, inset 0 1px 3px #b9554c, inset 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 0 1px #b9554c, inset 0 1px 3px #b9554c, inset 0 0 20px rgba(0, 0, 0, 0.1); }
